body {      
    background-color: rgb(145, 146, 148);
  }
     
main{
    display:flex;
    }

    .imagemtenis{
        width: 250px;
    }
    .tenistore {
        display: grid;
        margin: 15px;
        border: 10px solid black;      
    }
    
#tenis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin:auto;
}  

.tenistore:hover{
    background-color: var(--fundoIcone);
}

@media screen and (max-width:376px) { 
  main{
    display:flex;
    }

    .imagemtenis{
        width: 100px;
    }
    .tenistore {
        align-items: center;
        justify-items: center;
        margin: 5px;
        border: 2px solid black; 
        font-size: 12px;     
    }
    
  #tenis {
      display: grid;
      grid-template-columns: 1fr 1fr;   
  } 

}